export(createGUI)
export(gitAdd)
export(gitBranch)
export(gitCommit)
export(gitIgnore)
export(gitIsDirty)
export(gitListBranches)
export(gitListTags)
export(gitLog)
export(gitLsFiles)
export(gitMode2Str)
export(gitMv)
export(gitReset)
export(gitRm)
export(gitStatus)
export(gitStatus2Str)
export(gitSubmoduleAdd)
export(gitSubmoduleMv)
export(gitSubmoduleRm)
export(gitSubmoduleStatus)
export(gitSystem)
export(gitSystemLong)
export(gitToplevel)
export(gitUnadd)
export(gitUpstream)
export(systemWithSleep)
